accelerate==0.25.0
librosa==0.10.0
numpy==1.24.0
opencv-python==4.8.0.76
pillow==10.0.0
safetensors==0.4.0
soundfile==0.12.1

# PyTorch stack (CUDA 12.1 – hợp driver 12.5 hiện tại trên Kaggle)
torch==2.3.1+cu121
torchvision==0.18.1+cu121
torchaudio==2.3.1+cu121
--extra-index-url https://download.pytorch.org/whl/cu121

# (tuỳ) tối ưu hoá/quant
torchao==0.9

# Hugging Face
transformers==4.43.0
tokenizers==0.15.0

# Video / Audio
yt-dlp==2024.3.10
pydub==0.25.1
faster-whisper==0.10.0
google-generativeai==0.3.2
youtube-transcript-api==0.6.1